.container-main {
    /* border: 1px solid green; */
    margin: 140px auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    /* gap: 10%; */
}

.container-sections {
    width: 50%;
    /* border: 1px solid blue; */
}

.section-form form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    /* border: 1px solid red; */
}

.section-form form input {
    height: 52px;
    padding-left: 21px;
    font-size: 16px;
}

.section-form form textarea {
    height: 130px;
    padding: 28px 21px;
    font-size: 16px;
}

.section-form button {
    /* height: 130px; */
    padding: 10.5px 12px;
    width: fit-content;
    font-size: 14px;
    color: var(--color-grey-3);
    background-color: var(--color-grey-4);
    border: none;
    align-self: flex-end;
    border-radius: 4px;
}

.section-form button:hover {
    background-color: var(--brand-1);
    color: var(--color-white-fixed);
    /* border: 1px solid var(--brand-1); */
}

.section-posts>h2 {
    margin: 52px 0;
}

.list-posts {
    /* margin-top: 52px; */
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.post article {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post .container-heart {
    display: flex;
    align-items: center;
}

.post .container-heart small {
    font-weight: 600;
}

.post article button {
    padding: 10.5px 12px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: var(--color-grey-1);
    border-radius: 4px;
    border: none;
}

.post article button:hover {
    background-color: var(--color-grey-0);
}

aside {
    width: 421px;
    /* border: 1px solid red; */
    /* left:  947px; */
    position: fixed;
    transform: translateX(778px);
}

aside>h3 {
    margin-bottom: 61px;
}

.list-suggestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 61px;
    /* border: 1px solid blue; */
}

.list-suggestions button {
    align-self: baseline;
    margin-left: auto;
    padding: 5.5px 12px;
    border-radius: 2px;
    font-weight: 600px;
}

.list-suggestions button:hover {
    background-color: var(--color-grey-5);
    color: var(--brand-1);
    border: 1px solid var(--brand-1);
}

.btn-pressed,
.list-suggestions button:focus {
    background-color: var(--brand-1);
    color: var(--color-white-fixed);
    border: 1px solid var(--brand-1);
}

.btn-no-pressed {
    background-color: var(--color-white-fixed);
    color: var(--color-grey-1);
    border: 1px solid var(--color-grey-1);
}