.container-main {
    display: flex;
    margin: 40px auto;
    margin-top: 140px;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.container-new {
    height:min-content;
    display: flex;
}

aside {
    position: sticky;
    transform: translateX(745px) translateY(-340px);
    top: 480px;
    width: 420px;
}

aside>h3 {
    margin-bottom: 60px;
}

.list-suggestions {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.section-posts {
    min-width: 200px;
    width: 650px;
    margin-top: -250px;
}

.section-posts>h2 {
    margin: 52px 0;
}

.list-posts {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}

.post article {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post .container-heart {
    align-items: center;
    display: flex;
}

.post .container-heart span {
    font-weight: 600;
}