.container-main {
    display: flex;
    margin: 140px auto;
    max-width: 1200px;
}

.container-sections {
    width: 100%;
}

.container-up {
    display: flex;
    width: 100%;
}

aside {
    position: fixed;
    transform: translateX(778px);
    width: 420px;
}

aside>h3 {
    margin-bottom: 60px;
}

.list-suggestions {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.section-posts {
    min-width: 200px;
    width: 650px;
}

.section-posts>h2 {
    margin: 52px 0;
}

.list-posts {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}

.post article {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.post .container-heart {
    align-items: center;
    display: flex;
}

.post .container-heart span {
    font-weight: 600;
}

