.container-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  font-family: var(--font-family-2);
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  animation: animateModal 1s ease-in-out;
}

.show-modal {
  display: flex;
}

.modal {
  background-color: var(--color-white-fixed);
  border-radius: 8px;
  box-shadow: 5px 5px 10px var(--color-grey-1);
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 720px;
  position: relative;
}

.modal-header {
  align-items: flex-start;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.modal-header > .user-info {
  margin: 40px 24px;
  width: 100%;
}

.modal-header button {
  background: none;
  border: none;
  color: var(--color-grey-3);
  font-size: 28px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
}

.modal-header button:hover {
  background-color: var(--color-grey-5);
}

.modal-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 24px;
}

@keyframes animateModal {
  0% {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transform: scale(0%);
  }

  25% {
    rotate: 180deg;
  }

  90% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
