.navbar {
    background-color: var(--color-grey-1);
    color: var(--color-white-fixed);
    left: 0;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-links {
    display: flex;
    gap: 1rem;
}

.navbar-link {
    background-color: transparent;
    border-radius: var(--radius-1);
    color: var(--color-white-fixed);
    font-size: 0.875rem;
    font-weight: 400;
    height: 2rem;
    padding: 0.5rem;
    text-decoration: none;
}

.navbar-link:hover,
.navbar-link.actived {
    background-color: var(--color-grey-2);
}